@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

.swiper-button-next,
.swiper-button-prev {
  color: #4f46e5; /* example primary purple */
  width: 3rem;
  height: 3rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #3730a3; /* darker on hover */
}
